* {
  margin: 0;
  padding: 0;
  font-family: Arial, Tahoma;
}

h3 {
  margin: 20px;
}

nav {
  width: 100%;
  background-color: #ff6464;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

li {
  list-style-type: none;
}

.nav_wrapper {
  margin: 0 auto;
  width: 1000px;
}

.content_wrapper {
  margin: 0 auto;
  padding: 30px 0px;
  width: 1000px;
}

.menu_item {
  display: inline-block;
  position: relative;
}

.menu_item>a {
  display: block;
  padding: 20px;
}

.arrow_down {
  background: url(../img/arrow-down.png) 67px 27px no-repeat;
}

.submenu {
  display: none;
  position: absolute;
  transition: all 1s;
  top: 50px;
  left: 0;
  background-color: #e14b4b;
  z-index: 2;
}

.submenu>li {
  padding: 0px 10px;
}

.submenu>li>a {
  display: block;
  padding: 10px 0px;
  width: 150px;
  border-bottom: 1px solid #c83232;
}

.submenu_item {
  position: relative;
  background: url(../img/arrow-right.png) 155px 16px no-repeat;
}

.submenu_item>.submenu {
  position: absolute;
  top: 0px;
  left: 170px;
}